body {
  margin: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 80vh;
  text-align: center;
  background-color: #333;
}

h1 {
  margin: 0;
  margin-bottom: 0.8rem;
  text-decoration: underline;
  color: aliceblue;
  font-family: 'Pacifico', cursive;
  font-size: 5rem;
}

.select{
    margin-left: .5rem;
    border-radius: 0.3rem;
    background-color: aliceblue;
}

.equals{
    font-weight: bold;
    font-size: 2rem;
    color: aliceblue;
}

input {
  border-radius: 0.3rem;
  padding: 0.25rem;
  border: 1px solid #333;
  width: 10rem;
}
