body {
  margin: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 80vh;
  text-align: center;
  background-color: #333;
}

h1 {
  margin: 0;
  margin-bottom: 0.8rem;
  text-decoration: underline;
  color: aliceblue;
  font-family: 'Pacifico', cursive;
  font-size: 5rem;
}

.select{
    margin-left: .5rem;
    border-radius: 0.3rem;
    background-color: aliceblue;
    height: 3.4rem;
    width: 5rem;
    padding: 0.25rem;
}

.equals{
    font-weight: bold;
    font-size: 2rem;
    color: aliceblue;
}

.currencyField {
  border-radius: 0.3rem;
  background-color: aliceblue;
}

@media only screen and (max-width: 600px) {
  h1{
    font-size: 3rem;
  }
}
